/* You can add global styles to this file, and also import other style files */
:root {
  --mobile: 375px;
  --desktop: 1440px;
  --very-dark-gray: hsl(0, 0%, 18%);
  --dark: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 59%);
  --font-size: 18px;
  --white: white;
  --fancy-blue: #556AD0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: "Rubik", sans-serif;
}
