<div class="form">
  <div class="form__container">
    <input
      type="text"
      placeholder="Search for any IP address or domain"
      #inputValue
      (keyup.enter)="searchIp(inputValue.value)"
    />
  </div>
  <button
    type="submit"
    class="form__button"
    (click)="searchIp(inputValue.value)"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14">
      <path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6" />
    </svg>
  </button>
</div>

<app-alert *ngIf="isError">
  {{ isError }}
</app-alert>
