.form {
  display: flex;
  margin-top: 30px;
}
.form__container {
  width: 80%;
  background: var(--white);
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}
.form__container input {
  border: none;
  padding: 20px 0 20px 15px;
  width: 100%;
  color: var(--very-dark-gray);
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.form__container input:focus {
  outline: none;
}
::placeholder {
  color: var(--very-dark-gray);
  font-size: 12px;
}
.form__button {
  cursor: pointer;
  border-radius: 0px 20px 20px 0;
  width: 20%;
  background: var(--dark);
  border: none;
}
.form__button:hover {
  background: var(--very-dark-gray);
}
@media screen and (min-width: 489px) {
  .form {
    max-width: 500px;
    margin: auto;
  }
  .form__container {
    width: 95%;
  }
  .form__button {
    width: 15%;
  }
  .form__container input {
    padding: 20px 0 20px 35px;
  }
}
